{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<!--Fades the alert message after 5 seconds-->
	<script>
		window.setTimeout(function() {
			$(".alert-message, .alert-success").fadeTo(500, 0).slideUp(
    		500, function(){$(this).remove(); });}, 5000);
	</script>
	
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>
	
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	
	<div class="row banner main">
		<div class="col-md-1"></div>
	</div>
	
	<div class="col-md-11 padding-none">
		<h1>Genres:</h1>
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
			    <div class="alert alert-success">
			      	{% for message in messages %}
			  			<strong>{{ message }}</strong>
			  		{% endfor %}
			  	</div>
	        {% endif %}
	    {% endwith %}
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newGenre')}}">
				<button class="btn btn-default" id="new-Genre">
					<span class="glyphicon glyphicon-plus" aria-hidden=
					"true"></span>Add Genre</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	{% for genre in genres %}
		<a href = "{{url_for('showBook', genre_id = genre.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 genre-list">
						<h3>{{genre.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
