{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<!--Fades the alert message after 5 seconds-->
	<script>
		window.setTimeout(function() {
	    	$(".alert-message, .alert-success").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
			    });
		}, 5000);
	</script>

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ genre.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>
		</div>
	</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none"></div>
		<div class="col-md-7"></div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert alert-success">
			      	{% for message in messages %}
			  			<strong>{{ message }}</strong>
			  		{% endfor %}
			  	</div>
				{% endif %}
			{% endwith %}
		</div>
	</div>

	{% if items !=[] %}	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			{% for i in items %}
				<div class="menu-item">
					<h3>{{i.name}}</h3>
					<p>{{i.description}}</p>
					<p class="book-price">{{i.price}}</p>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endif %}
{% endblock %}
